name: Python PR

permissions:
  contents: read
  pull-requests: write

on:
  pull_request:
    branches: [main]
    paths:
      - 'python/**'

jobs:
  ci:
    uses: algorandfoundation/algokit-shared-config/.github/workflows/python-ci.yaml@feat/python-release-workflow
    with:
      working-directory: python
      install-algokit: false
